html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

/*for tab control*/
div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: #495057;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

/*login form*/
div.login-form-icon {
    text-align: center;
}

.card-header-tabs {
    margin-right: -1.325rem !important;
    margin-left: -1.325rem !important;
    margin-top: -0.825rem;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
}

.login-logout-tab .nav-link {
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    color: #333;
}

.card-content {
    padding: 20px 50px;
}